
.side-display[b-6kaq7eao5j]{
    flex-grow: 1;
    height: 100%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.file-upload[b-6kaq7eao5j]{
    display: flex;
    flex-direction: row;
    height: 50vh;
   background-color: purple;
   width: 100%;
}
table[b-6kaq7eao5j], th[b-6kaq7eao5j], td[b-6kaq7eao5j]{
    border: 2px solid;
}
table[b-6kaq7eao5j]{
    height: 100%;
}
.map[b-6kaq7eao5j]{
    width: 500px;
    border: 10px dashed black;
    border-radius: 10px;
    background-color: palegreen;
    
}

.main[b-6kaq7eao5j]{
    display: flex ;
}
.container[b-6kaq7eao5j]{
    margin: 10px;
    padding: 20px;
    background-color: aquamarine;
    border: 10px solid black;
    border-radius: 10px;
    
}
.data[b-6kaq7eao5j]{
    margin-inline: 10px;
    height: 100%;
    overflow-y: auto;
    
}
.data-display[b-6kaq7eao5j]{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50vh;
    background-color: red
    
}
.mapHolder[b-6kaq7eao5j] {
    width: 500px;
    border: 10px dashed black;
    border-radius: 10px;
    background-color: palegreen;
    display: flex;
    flex-direction: column;
}
#map[b-6kaq7eao5j]{
    height: 100%;
    overflow-y: auto;
    margin: 3px;
    border: 2px dashed black;
    border-radius: 10px;
}