
.side-display[b-6kaq7eao5j]{
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
}

.file-upload[b-6kaq7eao5j]{
    display: flex;
    flex-direction: column;
   background-color: white;
   width: 100%;
}
 th[b-6kaq7eao5j], td[b-6kaq7eao5j]{
    border: 2px solid;
    
}
td[b-6kaq7eao5j]
{
 max-width: 100px;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}
table[b-6kaq7eao5j]{
    margin: 10px;
    height: 100%;
    width: 250px;
}
.map[b-6kaq7eao5j]{
    width: 100%;
    background-color: white;
    
}

.main[b-6kaq7eao5j]{
    display: flex ;
}
.container[b-6kaq7eao5j]{
    height: 100vh;
    background-color: white;
    
}
.data[b-6kaq7eao5j]{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100%;
    overflow-y: auto;
    border: 2px solid;
    width: fit-content;
}
.advanced-context[b-6kaq7eao5j]{
    font-size: 8px;
}
.data-display[b-6kaq7eao5j]{
    display: flex;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    overflow-y: auto;
    
}
.mapHolder[b-6kaq7eao5j] {
    width: 50vw;
    background-color: white;
    display: flex;
    flex-direction: column;
}
#map[b-6kaq7eao5j]{
    height: 100%;
    overflow-y: auto;
    margin: 3px;
}