
.side-display{
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
}

.file-upload{
    display: flex;
    flex-direction: column;
   background-color: white;
   width: 100%;
}
 th, td{
    border: 2px solid;
    
}
td
{
 max-width: 100px;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}
table{
    margin: 10px;
    height: 100%;
    width: 250px;
}
.map{
    width: 100%;
    background-color: white;
    
}

.main{
    display: flex ;
}
.container{
    height: 100vh;
    background-color: white;
    
}
.data{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100%;
    overflow-y: auto;
    border: 2px solid;
    width: fit-content;
}
.advanced-context{
    font-size: 8px;
}
.data-display{
    display: flex;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    overflow-y: auto;
    
}
.mapHolder {
    width: 50vw;
    background-color: white;
    display: flex;
    flex-direction: column;
}
#map{
    height: 100%;
    overflow-y: auto;
    margin: 3px;
}