
.side-display{
    flex-grow: 1;
    height: 100%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
}

.file-upload{
    display: flex;
    flex-direction: column;
   background-color: white;
   width: 100%;
}
table, th, td{
    border: 2px solid;
}
table{
    margin: 10px;
    height: 100%;
    width: 500px;
}
.map{
    width: 100%;
    border: 10px dashed black;
    border-radius: 10px;
    background-color: white;
    
}

.main{
    display: flex ;
}
.container{
    height: 100vh;
    margin: 10px;
    padding: 20px;
    background-color: white;
    border: 10px solid black;
    border-radius: 10px;
    
}
.data{
    margin-inline: 10px;
    height: 100%;
    overflow-y: auto;
    
}
.advanced-context{
    font-size: 8px;
}
.data-display{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    overflow-y: auto;
    
}
.mapHolder {
    width: 100%;
    border: 10px dashed black;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
#map{
    height: 100%;
    overflow-y: auto;
    margin: 3px;
    border: 2px dashed black;
    border-radius: 10px;
}